# RStudio session files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Quarto build/cache folders
.quarto/
_freeze/
**/*.quarto_ipynb

# Ignore local data files (keep structure clean)
Hands-on_Ex/**/data/**
Take-home_Ex/**/data/**
In-class_Ex/**/data/**

# OS / system files
.DS_Store
Thumbs.db

# Logs or temp files
*.log

# DO NOT ignore _site — needed for Netlify static hosting
#!_site/

/.quarto/
